/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
$fa-font-path: '../../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';
@import '~@angular/cdk/overlay-prebuilt.css';
@import './variables.scss';
@import './typography.scss';
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;

  background-color: $background-color;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-title {
  font-size: size(12);
  font-family: 'Lato', sans-serif;
  color: $gray-1;
  :hover {
    color: $gray-5;
  }
}
.topbar-title {
  font-size: size(16);
  font-family: 'Lato', sans-serif;
  color: $primary-text;
  font-weight: bold;
}

.green-text {
  color: $green;
}
.add-btn-text {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
td {
  vertical-align: middle !important;
  padding: 3px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.blue-snackbar {
  background: #2196f3;
}
.err-snackbar {
  background: #f32121;
}
