@import './variables.scss';

.nav-title {
  font-size: size(12);
  font-family: 'Lato', sans-serif;
  color: $gray-1;
  :hover {
    color: $gray-5;
  }
}

.header-2 {
  font-size: size(22);
}

.header-3 {
  font-size: size(18);
}

.header-4 {
  font-size: size(20);
}

.header-5 {
  font-size: size(16);
}

.text-8 {
  font-size: size(8);
}

.text-9 {
  font-size: size(9);
}

.text-10 {
  font-size: size(10);
}

.text-12 {
  font-size: size(12);
}

.text-13 {
  font-size: size(13);
}

.text-14 {
  font-size: size(14);
}

.text-15 {
  font-size: size(15);
}

.text-16 {
  font-size: size(16);
}

.text-18 {
  font-size: size(18);
}

.text-19 {
  font-size: size(19);
}

.text-20 {
  font-size: size(20);
}

.text-21 {
  font-size: size(21);
}

.text-22 {
  font-size: size(22);
}

.text-26 {
  font-size: size(26);
}

.text-30 {
  font-size: size(30);
}

.text-45 {
  font-size: size(45);
}
