@import './variables.scss';

.header-2 {
  font-size: size(22);
}

.header-3 {
  font-size: size(18);
}

.header-4 {
  font-size: size(20);
}

.header-5 {
  font-size: size(16);
}

.text-8 {
  font-size: size(8);
}

.text-9 {
  font-size: size(9);
}

.text-10 {
  font-size: size(10);
}

.text-12 {
  font-size: size(12);
}

.text-13 {
  font-size: size(13);
}

.text-14 {
  font-size: size(14);
}

.text-15 {
  font-size: size(15);
}

.text-16 {
  font-size: size(16);
}

.text-18 {
  font-size: size(18);
}

.text-19 {
  font-size: size(19);
}

.text-20 {
  font-size: size(20);
}

.text-21 {
  font-size: size(21);
}

.text-22 {
  font-size: size(22);
}

.text-26 {
  font-size: size(26);
}

.text-30 {
  font-size: size(30);
}

.text-45 {
  font-size: size(45);
}

// Colors
.theme-color {
  color: $theme-color;
}
.theme-bg {
  background-color: $theme-color;
}

.primary {
  color: $primary-color;
}
.primary-bg {
  background-color: $primary-color;
}

.light-1 {
  color: $light-1;
}
.light-1-bg {
  background-color: $light-1;
}

.light-2 {
  color: $light-2;
}
.light-2-bg {
  background-color: $light-2;
}

.dark-1 {
  color: $dark-1;
}
.dark-1-bg {
  background-color: $dark-1;
}

.dark-2 {
  color: $dark-2;
}
.dark-2-bg {
  background-color: $dark-2;
}

.off-white {
  background-color: $off-white;
}

.gray-1 {
  color: $gray-1;
}
.gray-2 {
  color: $gray-2;
}
.gray-3 {
  color: $gray-3;
}
.gray-4 {
  color: $gray-4;
}
.gray-5 {
  color: $gray-5;
}
.gray-6 {
  color: $gray-6;
}
.gray-7 {
  color: $gray-7;
}

.black {
  color: $black;
}
