/* Size Function */
@function size($pixels) {
  $rems: $pixels / 16;
  @return #{$rems}rem;
}
/* END */

/* Font Weights */
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

/* */

/* Set your brand colors */
$theme-color: #2a2a2a;
// $theme-color-opacity: rgba(61, 25, 52, 0.384);

$primary-color: #00a09d;
$light-1: #e9ecef;
$light-2: #fcfcfc;
$dark-1: #212529;
$dark-2: #1c1f23;
$off-white: #f9f9f9;
$background-color: var(--gray-7);
/* END */

/* Gray Colors */
$gray-1: #9c9fa5;
$gray-2: #f4f6fb;
$gray-3: #dadfea;
$gray-4: #939da2;
$gray-5: #656f79;
$gray-6: #2b2b2b;
$gray-7: #2b304b;
/* END */

/* Black & white colors */
$black: #181c32;
$white: #ffffff;
$white-2: #eef0f8;
/* END */

/* Other Colors */
$salmon: #ef6f6c;
$red: #e74141;
$red-faded: #fad9d9;
$dark-red: #663259;
$yellow: #f4a622;
$green: #46cba5;
$teal: #08bdbd;
$blue: #4087f2;
$purple: #894ffc;
/* END */

:root {
  --gray-dk: rgb(38, 38, 38); //Header background
  --gray-0: rgb(3, 3, 3); // topbar active title
  --gray-1: rgb(42, 42, 42); //Header background
  --gray-2: rgb(54, 54, 54); //toolabar title
  --gray-3: rgb(75, 75, 75);
  --gray-4: rgb(170, 170, 170); //icon
  --gray-5: rgb(116, 116, 116); //topbar title
  --gray-6: rgb(249, 249, 249); // content background
  --gray-7: rgb(221, 221, 221); //tolbar background;
  --primary: #16a596;
}
