/* Size Function */
@function size($pixels) {
  $rems: $pixels / 16;
  @return #{$rems}rem;
}
/* END */

/* Font Weights */
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

/* */

/* Set your brand colors */
$theme-color: #7b5470;
$primary-color: #00a09d;
$light-1: #e9ecef;
$light-2: #fcfcfc;
$dark-1: #212529;
$dark-2: #1c1f23;
$off-white: #f9f9f9;
$background-color: $off-white;
/* END */

/* Gray Colors */
$gray-1: #9c9fa5;
$gray-2: #f4f6fb;
$gray-3: #dadfea;
$gray-4: #939da2;
$gray-5: #656f79;
$gray-6: #2b2b2b;
$gray-7: #2b304b;
/* END */

/* Black & white colors */
$black: #181c32;
$white: #ffffff;
$white-2: #eef0f8;
/* END */

/* Other Colors */
$salmon: #ef6f6c;
$red: #e74141;
$red-faded: #fad9d9;
$dark-red: #663259;
$yellow: #f4a622;
$green: #46cba5;
$teal: #08bdbd;
$blue: #4087f2;
$purple: #894ffc;
/* END */
