<!-- Alert -->
<div alertColor="danger">
  <h4 class="alert-heading">Alert Header</h4>
  Alert content
</div>

<!-- Badge -->
<h1>Example heading <badge color="danger">New</badge></h1>
<button type="button" class="btn btn-primary">
  Notifications <badge color="light">4</badge>
</button>

<!-- Breadcrumb -->
<breadcrumb [links]="links"></breadcrumb>

<!-- Button and button group -->
<pa-pos-button-group>
  <button btnColor="success" btnSize="large">
    Button
  </button>
  <button btnColor="success" btnState="active" btnSize="large">
    Button
  </button>
  <button btnColor="success" btnState="null" btnSize="large">
    Button
  </button>
</pa-pos-button-group>
